html {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

body {
  overflow-y: hidden;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links li a {
  color: white;
}

.skip-links a:focus {
  top: 0;
}

.crosshair {
  cursor: url("../images/logo.cur"), auto;
}

main {
  overflow-y: hidden;
  white-space: nowrap;
}

.grey {
  color: #6b6b6b;
}

a,
h2,
h3 {
  white-space: normal;
  font-family: "Work Sans", sans-serif;
}

p {
  white-space: normal;
  font-family: "Open Sans", sans-serif;
}

header {
  display: inline-block;
  width: 100vw;
  height: 12vh;
  z-index: 100;
}

footer {
  display: inline-block;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited,
a:focus {
  outline: 1px solid #a7a7a7;
}

.current {
  border-top: 1px solid #4e4e4e;
}

.current-nav {
  border-bottom: 1px solid #4e4e4e;
}

.bg-blue {
  background-color: #e1f6f9;
  height: 100vh;
  z-index: 1000;
}

.img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card p,
.card h2,
.card h3 {
  color: black;
}

.bg {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0 0 8px 0;
  z-index: 10;
  width: 400px;
}

.transparent {
  color: #fff;
}

.image {
  height: 74vh;
  width: 50vw;
}

.image-1 {
  background-image: url("../images/scrub-image-01.png");
  height: 75vh;
}

.max-length {
  margin-left: 0;
}

.arrow {
  animation: jump .75s linear infinite;
  position: absolute;
  top: 50%;
  left: 85%;
}

.project-footer {
  position: absolute;
  bottom: 2%;
}

.footer {
  display: none;
}

@keyframes jump {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(40px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0em);
  }

}

@media only screen and (min-width: 20em) {

  h1,
  .nav {
    text-align: center;
  }

  .card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 78vh;
    width: 80vw;
  }

  .btn {
    border: 1px solid #4d4d4d;
    border-radius: 2px;
    background-color: #fff;
  }

  a:hover {
    outline: none;
  }

  span {
    font-weight: bold;
    border-bottom: 1px solid #4e4e4e;
  }

  .nav a:hover {
    border-bottom: 1px solid #4e4e4e;
  }

  .mainimg {
    background-image: url("../images/home-1.jpg");
  }

  .img1 {
    background-image: url("../images/scrub-home.jpg");
  }

  .img2 {
    background-image: url("../images/bluebowl-main.jpg");
  }

  .img3 {
    background-image: url("../images/anna.jpg");
  }

  .img4 {
    background-image: url("../images/influenza-1.jpg");
  }

  header .logo {
    text-align: center;
  }

  .wrapper {
    margin-left: 0;
    width: 300px;
    margin-right: 0;
  }

  .case-study-card {
    transform: translateY(-8%);
  }

  .extra-projects {
    width: 100vw;
    transform: translateY(4%);
  }

}

@media only screen and (min-width: 36em) {

  h1 {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  header .logo {
    text-align: left;
  }
  .arrow {
    display: block;
  }

  .bg-image {
    background-image: url("../images/me-01.png");
    background-repeat: no-repeat;
    background-position: center;
  }

}

@media only screen and (min-width: 576px) {

  .wrapper {
    margin-left: 0;
    width: 400px;
    margin-right: 0;
  }

  .extra-projects {
    width: 60vw;
  }

}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 60em) {

  .extra-projects {
    width: 40vw;
    transform: translateY(-2%);
  }

}
