html {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
  color: #000;
  /* background-color: #f4decb; */
}

body {
  overflow-y: hidden;
}

main {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

p {
  white-space: normal;
  font-family: "Open Sans", sans-serif;
}

header {
  display: inline-block;
  width: 100vw;
  height: 12vh;
  z-index: 100;
  /* background-color: #f0f0f0; */
}

footer {
  display: inline-block;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  /* background-color: #f0f0f0; */
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: #000;
}

.bg-blue {
  background-color: #e1f6f9;
  height: 100vh;
  z-index: 1000;
}

.img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card p,
.card h2,
.card h3 {
  color: black;
}

.bg {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0 0 8px 0;
  z-index: 10;
  width: 400px;
}

.transparent {
  color: #fff;
}

.image {
  height: 74vh;
  width: 50vw;
}

.image-1 {
  background-image: url("../images/scrub-image-01.png");
  height: 75vh;
}

@media only screen and (min-width: 20em) {

  h1,
  .nav {
    text-align: center;
  }

  .card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 78vh;
    width: 80vw;
  }

  .img1 {
    background-image: url("../images/scrub-label.jpg");
  }

  .img2 {
    background-image: url("../images/home-06.png");
  }

  .img3 {
    background-image: url("../images/anna.jpg");
  }

  .img4 {
    background-image: url("../images/home-07.png");
  }

  header .logo {
    text-align: center;
  }

}

@media only screen and (min-width: 36em) {

  h1 {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  header .logo {
    text-align: left;
  }

}

@media only screen and (min-width: 576px) {

  .wrapper {
    margin-left: 0;
    width: 60vw;
  }

}

@media only screen and (min-width: 576px) {

  .wrapper {
    margin-left: 0;
    width: 60vw;
  }

}


::-webkit-scrollbar {
    display: none;
}
