html {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
  color: #000;
  /* background-color: #f4decb; */
}

body {
  overflow-y: hidden;
}

main {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 80vh;
}

p {
  white-space: normal;
  font-family: "Open Sans", sans-serif;
}

header,
footer {
  display: inline-block;
  width: 100vw;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: #000;
}

@media only screen and (min-width: 20em) {

  h1,
  .nav {
    text-align: center;
  }

  .card {
    width: 90vw;
    height: 70vh;
  }

}

@media only screen and (min-width: 36em) {

  h1 {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .card {
    width: 50vw;
    height: 80vh;
  }

}
