html {
  font-family: 'Work Sans', sans-serif;
  background-color: #fff;
  color: #000;
}

body {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  max-width: 40vw;
  min-width: 300px;
}

.card-no-border {
  display: inline-block;
  max-width: 40vw;
  min-width: 300px;
}

p {
  white-space: normal;
  font-family: 'Open Sans', sans-serif;
}

header,
footer {
  min-width: 300px;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 20em) {

  h1,
  .nav {
    text-align: center;
  }

}

@media only screen and (min-width: 36em) {

  h1 {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}

main {
  height: 70vh;
}

.btn-ghost:hover {
background-color: #cc6060;
border-color: #cc6060;
}

.btn,
.btn-ghost {
  text-decoration: none;
}
