---
layout: default
title: Shrinidhi Sridhar · Designer based in Ottawa, Canada.
meta: I am a designer currently working in Ottawa. I work on web design & development, app & ux design
---

<section id="work" class="body ib pad-t-2">
  <ul class="list-group-inline push-none">
    {% for work in site.data.homepage %}
    {% include home-grid.html data=work %}
    {% endfor %}
  </ul>
</section>

<aside role="complementary" itemscope itemtype="http://schema.org/WPFooter" class="pad-t w-1 arrow">
  <i class="icon i-48">
    <img itemprop="image" src="{{site.baseurl}}/images/arrow-2.svg" alt="Arrow to guide the users to scroll horizontally">
  </i>
  <!-- <p class="gutter-1-4 push-none milli">Scroll</p> -->
</aside>
