<div class="case-study-card">
  <div class="ib relative">
    <h2 itemprop="heading" class="wrapper mega push-none">{{page.heading1}}</h2>
    <p itemprop="subheading" class="wrapper pad-t-1-2 milli push-none work-sans bold">{{page.category}}</p>
    <p itemprop="subheading" class="wrapper pad-t-1-2 milli push-none lato">{{page.subHeading1}}</p>
    <p itemprop="process" class="wrapper pad-t milli push-none lato">{{page.process1}}</p>
    <p itemprop="process" class="wrapper pad-t milli push-none lato">{{page.text1}}</p>
  </div>

  <div class="pad-t-2 gutter relative ib">
    <figure class="pad-t-2 wrapper">
      <img class="pad-t-2 img-flex case-img" src="{{page.img1}}" alt="{{page.figureCaption1}}">
      <figcaption class="milli italic pad-t-1-2">{{page.figureCaption1}}</figcaption>
    </figure>
  </div>
  <div class="pad-t-2 gutter relative ib">
    <figure class="pad-t-2 wrapper">
      <img class="pad-t-2 img-flex case-img" src="{{page.img2}}" alt="{{page.figureCaption1}}">
      <figcaption class="milli italic pad-t-1-2">{{page.figureCaption2}}</figcaption>
    </figure>
  </div>

  <div class="ib relative">
    <h2 itemprop="heading" class="wrapper kilo push-none">{{page.heading2}}</h2>
    <p itemprop="subheading" class="wrapper pad-t-1-2 milli push-none lato">{{page.subHeading2}}</p>
    <p itemprop="process" class="wrapper pad-t milli push-none lato">{{page.process2}}</p>
    <p itemprop="process" class="wrapper pad-t milli push-none lato">{{page.text2}}</p>
  </div>

  <div class="pad-t-2 gutter relative ib">
    <figure class="pad-t-2 wrapper">
      <img class="pad-t-2 img-flex case-img" src="{{page.img3}}" alt="{{page.figureCaption2}}">
      <figcaption class="milli italic pad-t-1-2">{{page.figureCaption3}}</figcaption>
    </figure>
  </div>

  <div class="relative ib">
    <h2 itemprop="heading" class="wrapper pad-t-2 kilo push-none">{{page.heading3}}</h2>
    <p itemprop="subheading" class="wrapper pad-t-1-2 milli push-none lato">{{page.subHeading3}}</p>
    <p itemprop="process" class="wrapper pad-t milli push-none lato">{{page.process3}}</p>
    <p itemprop="process" class="wrapper pad-t milli push-none lato">{{page.text3}}</p>
  </div>

  <div class="pad-t-2 gutter relative ib">
    <figure class="pad-t-2 wrapper">
      <img class="pad-t-2 img-flex case-img" src="{{page.img4}}" alt="{{page.figureCaption3}}">
      <figcaption class="milli italic pad-t-1-2">{{page.figureCaption4}}</figcaption>
    </figure>
  </div>

  <div class="relative ib">
    <h2 itemprop="heading" class="wrapper pad-t-2 kilo push-none">{{page.heading4}}</h2>
    <p itemprop="subheading" class="wrapper pad-t-1-2 milli push-none lato">{{page.subHeading4}}</p>
    <p itemprop="process" class="wrapper pad-t milli push-none lato">{{page.process4}}</p>
    <p itemprop="process" class="wrapper pad-t milli push-none lato">{{page.text4}}</p>
  </div>

</div>
