<div itemscope itemtype="http://schema.org/About" class="ib push case-study-card bg-image pad-t-2">
  <div class="pad-t-2">
    <h3 itemprop="title" class="giga bold gutter pad-t-2 push-1-2">{{include.data.title}}</h3>
    <p itemprop="description" class="milli gutter push max-length">{{include.data.text1}}</p>
    <p itemprop="description" class="milli gutter push max-length">{{include.data.text2}}</p>
    <h3 itemprop="title" class="giga bold gutter push-1-2">Contact</h3>
    <div class="gutter pad-top-1-2">
      <p class="milli push-1-2">Want to collaborate and create amazing projects?</p>
      <a aria-label="Email Shrinidhi Sridhar" itemprop="email" class="milli btn btn-ghost " href="mailto:reachme@shrinidhi.design">{{include.data.email}}</a>
    </div>
  </div>

</div>
