<div class="project-footer">

  <ul class="list-group-inline">
    <li class="list-group-item gutter milli"><a href="{{site.baseurl}}/scrub-inspired">Scrub Inspired</a></li>
    <li class="list-group-item gutter milli"><a href="{{site.baseurl}}/recipe-app">Bluebowl App</a></li>
    <li class="list-group-item gutter milli"><a href="{{site.baseurl}}/anna-belanger">Anna Bélanger & Associates</a></li>
    <li class="list-group-item gutter milli"><a href="{{site.baseurl}}/influenza">Influenza App</a></li>
  </ul>

</div>
