<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Shrinidhi Sridhar | Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800,800i|Work+Sans:300,400,500,600,700,800" rel="stylesheet">
</head>
<body>

  <header>
    <div class="grid pad-top gutter">
      <h1 class="unit xs-1 s-1 m-1-2 l-1-2 inline kilo push-1-2">Shrinidhi Sridhar</h1>
      <nav class="nav text-right unit xs-1 s-1 m-1-2 l-1-2 push-1-2">
        <ul class="list-group-inline pad-top-1-2">
          <li class="list-group-item gutter bold">
            <a class="micro" href="{{site.baseurl}}#work/">WORK</a>
            </li>
          <li class="list-group-item gutter bold">
            <a class="micro" href="{{site.baseurl}}/about/">ABOUT</a>
            </li>
          <li class="list-group-item gutter bold">
            <a class="micro" href="{{site.baseurl}}/about#contact/">CONTACT</a>
            </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>

  </main>

  <footer class="pad-t-1-2 fixed">
    <ul class="list-group-inline text-left push-none">
      <li class="list-group-item"><a class="gutter micro bold" href="https://www.instagram.com/shrinidhisridhar/">instagram</a></li>
      <li class="list-group-item"><a class="gutter micro bold" href="https://dribbble.com/Nidhis">dribbble</a></li>
      <li class="list-group-item"><a class="gutter micro bold" href="https://twitter.com/shrinidhi_30">twitter</a></li>
    </ul>
    <p class="micro gutter">©Designed and developed by Shrinidhi Sridhar</p>
  </footer>

</body>
</html>
